<!DOCTYPE html>
<html lang="en">
<head>
    <title>about</title>
</head>

<body>
<th:block th:include="/header"></th:block>

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="about">
    <h2 class="w3-wide">ABOUT US</h2>
    <p class="w3-opacity"><i>We are nobodies</i></p>
    <p class="w3-center">
        Today I'm dirty <br>
        And I want to be pretty <br>
        Tomorrow, I know I'm just dirt <br>
        Today I'm dirty <br>
        And I want to be pretty<br>
        Tomorrow, I know I'm just dirt<br>
        We are the nobodies<br>
        Wanna be somebodies<br>
        When we're dead<br>
        They'll know just who we are<br>
        We are the nobodies<br>
        Wanna be somebodies<br>
        When we're dead<br>
        They'll know just who we are
        Yesterday I was dirty
        Wanted to be pretty
        I know now that I'm forever dirt
        Yesterday I was dirty
        Wanted to be pretty
        I know now that I'm forever dirt
        We are the nobodies
        Wanna be somebodies
        When we're dead
        They'll know just who we are
        We are the nobodies
        Wanna be somebodies
        When we're dead
        They'll know just who we are
        Some children died the other day
        We fed machines and then we prayed
        Puked up and down in morbid faith
        You should have seen the ratings that day
        Some children died the other day
        We fed machines and then we prayed
        Puked up and down in morbid faith
        You should have seen the ratings that day
        We are the nobodies
        Wanna be somebodies
        When we're dead
        They'll know just who we are
        We are the nobodies
        Wanna be somebodies
        When we're dead
        They'll know just who we are
        We are the nobodies
        Wanna be somebodies
        When we're dead
        They'll know just who we are
        We are the nobodies
        Wanna be somebodies
        When we're dead
        They'll know just who we are</p>
    <p>Quelle: LyricFind
        Songwriter: John Lowery / Brian Hugh Warner
        Songtext von The Nobodies © BMG Rights Management, The Bicycle Music Company</p>
    <div class="w3-row w3-padding-32">
        <div class="w3-third">
            <p>Stadtbibliothek Stuttgart</p>
            <img src="/pic/bib.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
        </div>
    </div>
</div>

</body>
</html>