<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:fragment="header">
    <!-- Navigation bar -->
    <div class="w3-top">
        <div class="w3-bar w3-dark-grey w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
               href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="/home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="/books/current" class="w3-bar-item w3-button w3-padding-large">BOOKS</a>
            <a href="/books/search" class="w3-bar-item w3-button w3-padding-large">SEARCH</a>
            <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
            <!--<a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>-->
            <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGIN</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/admin" class="w3-bar-item w3-button">Admin</a>
                    <a href="#" class="w3-bar-item w3-button">Extras</a>
                    <a href="#" class="w3-bar-item w3-button">Media</a>
                </div>
            </div>
            <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right">
                <i class="fa fa-search"></i></a>
        </div>
    </div>
</div>
</body>