<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<th:block th:include="/header"></th:block>


<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="login">
    <h2 class="w3-wide w3-center">LOGIN</h2>
    <p class="w3-opacity w3-center"><i>Please enter your username and password</i></p>

    <div class="w3-row-padding w3-center">
        <!--<style>-->
            <!--table, th, td {-->
                <!--border: 10px solid gray;-->
            <!--}-->
        <!--</style>-->
        <table style="width:100%">

            <tr>
                <label>Login with your account</label>
                <form th:action="@{/login}" method="post">
                    <div class="w3-row-padding w3-center">
                        <input class="w3-input w3-border" type="text" id="username" name="username"
                               placeholder="Username">
                        <input class="w3-input w3-border" type="password" id="password" name="password"
                               placeholder="Password">
                        <button class="w3-button w3-black w3-section w3-right" type="submit">LOGIN</button>
                    </div>
                </form>
            </tr>

            <br>

            <tr>
                <label>Or submit now</label>
                <form th:action="@{/user/add}" method="post">
                    <div th:text="${pwTooShort}" style="color: red"></div>
                    <div th:text="${needUppercase}" style="color: red"></div>
                    <div th:text="${needLowercase}" style="color: red"></div>
                    <div class="w3-row-padding w3-center">
                        <input class="w3-input w3-border" type="text" id="usernameSubmit" name="username" placeholder="Username">
                        <input class="w3-input w3-border" type="password" id="passwordSubmit" name="password" placeholder="Password">
                        <input class="w3-input w3-border" type="email" id="email" name="email" placeholder="email">
                        <button class="w3-button w3-black w3-section w3-right" type="submit">SUBMIT</button>
                    </div>
                </form>
            </tr>
        </table>

    </div>
</div>

</body>
</html>


