<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>admin</title>
</head>

<body>
<th:block th:include="/header"></th:block>

<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1200px">
  <h2 class="w3-wide">SEARCH</h2>
  <p class="w3-opacity"><i>Search page to find a book</i></p>
</div>


<div class="w3-container w3-content w3-padding-64" style="max-width:1200px" id="login">

  <div class="w3-stretch w3-left-align">
    <form action="#" th:action="@{/author/books}" method="GET">

        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1200px" id="search">
            Author Name: <input list="authors" name="surname"/>
            <button type="submit">Search</button>
        </div>

      <datalist id="authors">
        <select>
          <option th:each="author: ${booksOfAutor}" th:value=" ${author}">
          </option>
        </select>
      </datalist>

    </form>
  </div>


  <tr th:each="author: ${booksOfAutor}">
    <td th:text="${author}"/>
    <br>
  </tr>

</div>



</body>
</html>